
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
      <a class="navbar-brand" href="index.html">ShoppingApp</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="oi oi-menu"></span> Menu
      </button>

      <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a href="" class="nav-link">Home</a></li>
         
          <li class="nav-item"><a href="" class="nav-link">About</a></li>
          <li class="nav-item"><a href="cart" class="nav-link" (click)="goToCart()">Cart</a></li>


        </ul>
      </div>
    </div>
  </nav>
  <div class="card filters">

    <div class="card-header">
      <strong>Filters</strong>
    </div>
  
    <div class="card-body">
      <form>
        <div class="form-group">
          <label for="from">From</label>
          <input type="number" id="from" class="form-control">
        </div>
  
        <div class="form-group">
          <label for="to">To</label>
          <input type="number" id="to" class="form-control">
        </div>
  
        <button class="btn btn-primary btn-block btn-sm">Filter by Price</button>
      </form>
    </div>
  </div>


        <br><br>

        <div class="row">
            <div class="col-md-4" *ngFor="let product of productList">
              <app-product-item [productItem]="product"></app-product-item>
            </div>
          </div>
          
          
          