div class="wrapper fadeInDown">
        <div id="formContent">
          
      
         
          
          <form>
            <input type="text" id="username"  name="registr" placeholder="login">
            <input type="password" id="password"  name="register" placeholder="password">
            <input type="password" id="repeat password"  name="register" placeholder="password">
            <input type="submit"  value="Register" href="">
            <input type="button" value="Login">
          </form>
